    <!DOCTYPE html>
    <html>
    <title>dddddd</title>
    <!--CryptoJS_SEED-->
    <script type="text/javascript" src="extlib/cryptojs_tomyun/seed.js"></script>
    <head>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    </head>  
   <body>
    <div class="wrapper">
        <div class="main"></div>
            <div class="logo" id="logo">
            <img src="source/umbrella-icon2.png">
            </div>
            <form method="post" action="session.jsp">
                <div class="login_box" align="center">
                <div class="input_login">
                    <input type="text" placeholder="Insert Your ID" name="id_">
                </div>
                <div class="input_login">
                    <input type="password" placeholder="Insert Your PW" name="pwd">
                </div>
                <div class="login">
                    <input type="submit" value="ID/PW Login" name="submit">
                </div>
            </form> 
            </div>
    </div>  

    </body>

    </html>